body {
    margin: 0;
    display: flex;
    font: 0.92em/1.4 Arial, sans-serif;
    min-width: 780px;
    background: #0ff;
    color: #000;
    justify-content: center;
}

div .left {
    position: absolute;
    left: 0;
}

div .right {
    position: absolute;
    right: 20px;
}

div .top {
    position: absolute;
    top: 0;
}

div .down {
    position: absolute;
    bottom: 0;
}

div .center {
    position: absolute;
    top: 50%;
}

.question-box {
    display: none;
}

.question-box:first-child {
    display: block;
}

.submit-checkbox-button {
    margin-top: 20px;
}

.choise-button {
    margin-top: 10px;
    margin-left: 30px;
}

.submit-radiogroup-button {
    margin-left: 30px
}

textarea {
    height: 100px;
    width: 400px;
    resize: none;
}