body {
    margin: 0;
    display: flex;
    font: 0.92em/1.4 Arial, sans-serif;
    min-width: 780px;
    background: #0ff;
    color: #000;
    justify-content: center;
}

.question-box {
    display: none;
}

.question-box:first-child {
    display: block;
}

.submit-checkbox-button {
    margin-top: 20px;
}

.choise-button {
    margin-top: 10px;
    margin-left: 30px;
}

.submit-checkbox-button {
    margin-left: 30px
}

textarea {
    height: 100px;
    width: 400px;
    resize: none;
}